.Feedform{
    border: 4px dashed #4E9F3D;
    margin-top: 0px;
    margin-bottom: 10px;
}
.Feedsubmit{
   width: 100%; 
}
.textareas{
    width:100%;
}
.feedbackbox{
    margin-top: 0px;
}
/* // project by malyaj singh 2010991425 g22 chitkara */
